{% extends "base.html" %}
{% block content%}
    <section class="contact">
        <h2>Let's talk</h2>
        <div class="contact-card">
            <img src="{{url_for('static', filename='images/email.png')}}" alt="email">
            <a href="mailto:eugeneyarney23@gmail.com" target="_blank">eugeneyarney23@gmail.com</a>
        </div>
        <div class="contact-card">
            <img src="{{url_for('static', filename='images/whatsapp.png')}}" alt="whatsapp">
            <a href="https://wa.me/+233506798129" target="_blank">0506798129</a>
        </div>
        <div class="contact-card">
            <img src="{{url_for('static', filename='images/linkedin.png')}}" alt="linkedin">
            <a href="https://linkedin.com/in/eugene-yarney" target ="_blank" >eugene-yarney</a>
        </div>
        <div class="contact-card">
            <img src="{{url_for('static', filename='images/github.png')}}" alt="github">
            <a href="https://github.com/eugene234466" target="_blank">eugene234466</a>
        </div>
        <p>Let's connect, get to know each other and build together!</p>
    </section>
{% endblock %}



