{% extends "base.html" %}
{% block content %}
    <section class="hero">
        <h1>Hi, I'm Eugene Yarney</h1>
        <p class="tagline" id="tagline"></p>
    
        <a href="{{url_for('projects')}}" class="cta">View Projects</a>
        <a href="{{url_for('contact')}}" class="cta">Contact Me</a>
    </section>
    <section class="about">
        <div class="inner">
            <h2>About Me</h2>
            <p>CE Student, Python dev, builder</p>
            <p>I build stuff because I want to and have to</p>
        </div>
    </section>

{% endblock %}

