{% extends "base.html" %}
{% block content %}
    <section class="projects">
        <h2>My Projects</h2>
        <div class="project-card">
            <h3>Fintrack</h3>
            <p class = 'tags'>Flask, SQLite, Python</p>
            <a href = "https://fintrack-meim.onrender.com/" target="_blank">Project link</a>
        </div>
        <div class="project-card">
            <h3>Blackjack</h3>
            <p class = 'tags'>JavaScript, HTML, CSS</p>
            <a href = "https://blackjack-eta-weld.vercel.app/" target="_blank">Project link</a>
        </div>
        <div class="project-card">
            <h3>Currency Converter</h3>
            <p class = 'tags'>Flask, Railway, Api</p>
            <a href = "https://currency-converter-u3pg.onrender.com" target="_blank">Project link</a>
        </div>
        <div class="project-card">
            <h3>MarketMind AI</h3>
            <p class = 'tags'>Flask, Gemini AI, ML</p>
            <a href = "https://marketmindai-k6di.onrender.com" target="_blank">Project link</a>
        </div>
        <div class="project-card">
            <h3>UNCHAINED</h3>
            <p class = 'tags'>Python</p>
            <a href = "https://github.com/eugene234466/Unchained/releases/download/v1.0.0/UNCHAINED.exe" target="_blank">Project link</a>
        </div>
        <div class="project-card">
            <h3>URL Shortener</h3>
            <p>Flask, Python</p>
            <a href = "https://web-production-7d4fb.up.railway.app/" target="_blank">Project Link</a>
        </div>    
    </section>
{% endblock %}

            
