{% extends "base.html" %}
{% block content %}
    <section class="skills">
        <h2>My Skills</h2>
        <div class="skill-card">
            <h4>Python</h4>
            <p>Proficiency 85%</p>
            <div class="progress-bar">
                <span class = "fill" style = "--progress: 85%"></span>
            </div>
        </div>
        <div class="skill-card">
            <h4>HTML</h4>
            <p>Proficiency 90%</p> 
            <div class="progress-bar">
                <span class = "fill" style = "--progress: 90%"></span>
            </div>
        </div>
        <div class="skill-card">
            <h4>CSS</h4>
            <p>Proficiency 75%</p>
            <div class="progress-bar">
                <span class = "fill" style = "--progress: 75%"></span>
            </div>
        </div>
        <div class="skill-card">
            <h4>JavaScript</h4>
            <p>Proficiency 70%</p>
            <div class="progress-bar">
                <span class = "fill" style = "--progress: 70%"></span>
            </div>
        </div>
        <div class="skill-card">
            <h4>Flask</h4>
            <p>Proficiency 70%</p>
            <div class="progress-bar">
                <span class = "fill" style = "--progress: 70%"></span>
            </div>
        </div>
        <div class="skill-card">
            <h4>React</h4>
            <p>Proficiency 50%</p>
            <div class="progress-bar">
                <span class = "fill" style = "--progress:50%"></span>
            </div>
        </div>
        <div class="skill-card">
            <h4>C++</h4>
            <p>Proficiency 45%</p>
            <div class="progress-bar">
                <span class = "fill" style = "--progress: 45%"></span>
            </div>
        </div>
    </section>    
{% endblock %}    
        

        


